* {
  margin: 0px;
}
.ant-form-item {
  margin-bottom: 10px !important;
}
.updateSuggestionModal {
  top: 50px !important;
}
.ant-carousel .slick-dots li {
  background-color: #606c5d;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.ant-carousel .slick-dots li button {
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.ant-carousel .slick-dots li.slick-active {
  width: 10px;
  border: 2px solid #040d12;
}

.ant-image-mask {
  border-radius: 20px;
}
.ant-image-mask:hover {
  border-radius: 20px;
}
._color_light {
  color: #8c968a;
}
/* WIDTH */
._width {
  width: 320px;
}
._width_lg {
  width: 400px;
}
/* MARGIN */
._margin_top_sm {
  margin-top: 10px;
}

._margin_top_md {
  margin-top: 20px;
}
/* BORDER */
._border_radius_20 {
  border-radius: 20px;
}
._border_radius_5 {
  border-radius: 5px;
}
.border_white {
  border: 2px solid white;
}
/* FLEX */
._flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
._flex_col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

._flex_col_around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.distanceSearchBar {
  z-index: 111;
  min-width: 400px;
}

.autocompleteSearchbar {
  min-width: 400px;
}

/* profile button style */
.active {
  color: #32a66b;
  border-color: #32a66b;
}
.defaultActive {
  color: #32a66b;
  border-color: #32a66b;
}

.text_lg {
  font-size: 24px;
}

/* antd float button style start*/
.ant-float-btn {
  width: 70px !important;
}

.ant-float-btn-body {
  padding: 10px 0px !important;
  width: 100% !important;
  height: 100% !important;
}

.ant-float-btn-default .ant-float-btn-body {
  background-color: #32a66b;
}

.ant-float-btn-default .ant-float-btn-body:hover {
  background-color: #32a66b;
}

.ant-float-btn-group-square
  .ant-float-btn-group-wrap
  .ant-float-btn-square
  .ant-float-btn-body {
  background-color: transparent;
}

.ant-float-btn .ant-float-btn-body .ant-float-btn-content {
  padding: 0px !important;
}

.ant-float-btn .ant-float-btn-body .ant-float-btn-content .ant-float-btn-icon {
  width: 100%;
}

.ant-float-btn-group-square .ant-float-btn-square {
  border-start-end-radius: 8px;
  border-start-start-radius: 8px;
}

.ant-float-btn-square {
  height: 54px !important;
}

.ant-float-btn-group-square
  .ant-float-btn-group-wrap
  .ant-float-btn-square
  .ant-float-btn-body {
  width: 100%;
  height: 100%;
}

.ant-popover .ant-popover-title {
  min-width: 80px;
}

.activeButton
  .ant-badge
  .ant-float-btn-body
  .ant-float-btn-content
  .ant-float-btn-icon {
  border: 3px solid #32a66b;
  border-radius: 8px;
  padding: 2px;
}

/* antd float button style end, ,electric shop */

/* global button border */
.blueBorder {
  border: 1px solid #1a8edb;
  border-radius: 5px;
  padding: 5px 5px;
  color: #1a8edb;
}

.greenBorder {
  border: 1px solid #32a66b;
  border-radius: 5px;
  padding: 5px 5px;
  color: #32a66b;
}

.redBorder {
  border: 1px solid #ff0000;
  border-radius: 5px;
  padding: 5px 5px;
  color: #ff0000;
}

.card_hover:hover {
  background-color: #34b572;
  color: white;
}
.switchButtonStyle {
  padding: 2px;
}
.switchButtonStyle:hover {
  padding: 2px;
  cursor: pointer;
  border-radius: 30%;
  background-color: #606c5d;
  color: white;
}

/* AutoComplete Searchbar */
.autoCompleteSearchbar > .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
  border-radius: 22px !important ;
}
/* :where(.css-dev-only-do-not-override-12jzuas).ant-select-dropdown .ant-select-item-option-content>* {
  white-space: break-spaces !important;
  word-break: break-word !important;
} */

:where(.css-dev-only-do-not-override-18iikkb).ant-select-dropdown
  .ant-select-item-option-content {
  flex: auto;
  overflow: hidden;
  white-space: break-spaces !important;
  word-break: break-word !important;
  text-overflow: ellipsis;
}
:where(.css-18iikkb).ant-select-dropdown .ant-select-item-option-content {
  white-space: break-spaces !important;
  word-break: break-word !important;
}
.ant-select-dropdown {
  min-width: 400px !important;
  width: 400px !important;
}

.autoCompleteSearchbarButton {
  border: none !important;
  border-radius: 22px !important;
}

/* .paddingBtn {
  padding-left: 0px !important;
} */

/* scroll style */
.searchbarDetails::-webkit-scrollbar,
.distanceSearchBar::-webkit-scrollbar {
  width: 7px;
}

.searchbarDetails::-webkit-scrollbar-track,
.distanceSearchBar::-webkit-scrollbar-track {
  background: #f0f0f0;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.searchbarDetails::-webkit-scrollbar-thumb,
.distanceSearchBar::-webkit-scrollbar-thumb {
  background: #93ecd0;
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  min-height: 40px;
}

.highlighted-option {
  font-weight: bold !important;
  background-color: #ffffcc !important;
}

.suggestEditButton {
  border: 2px solid black;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 6px 10px;
  transition: 0.3s;
}
.suggestEditButton:hover {
  cursor: pointer;
  transition: 0.3;
  border: 2px solid rgb(0, 0, 255);
  color: rgb(0, 0, 255);
  background-color: #b6e2ff40;
}
.update_information {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.update_information:hover {
  cursor: pointer;
  background-color: rgba(153, 255, 153, 0.22);
}

.delete_information {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
}
.delete_information:hover {
  cursor: pointer;
  background-color: rgba(255, 153, 153, 0.21);
}

/* Offer Buttons */
.order2stepbutton {
  position: relative;
  width: 36%;
}
.elbutton {
  display: block;
  font-size: 12px;
  font-weight: bold;
  text-align: center !important;
  text-decoration: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  background-color: rgb(255, 141, 48);
  color: #ffffff;
  margin-top: 20px;
  padding: 6px 8px;
  line-height: 1.42857143;
  position: relative;
  cursor: pointer;
}

.elbutton:hover {
  background-color: #ff6811;
  color: black;

  /* 	  transform: rotate(180deg); */
}

.elbutton:active {
  outline: none;
  box-shadow: inset 0px 0px 1px #2e2d2d;
  transform: translateY(1px);
}

.elbuttonmain {
  font-family: Oswald, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: -1px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.color-changing-offers {
  font-size: 32px;
  border-radius: 50%;
  width: fit-content;
  margin: 10px;
  display: inline-block;
}

/* media query start */

@media screen and (max-width: 576px) {
  .autocompleteSearchbar {
    min-width: 400px;
  }
  .distanceSearchBar,
  .searchDetails {
    min-width: 400px;
  }
  .ant-select-dropdown {
    min-width: 380px !important;
    width: 380px !important;
  }
  .maplibregl-ctrl-top-right {
    top: 50px !important;
    right: 5px;
  }
  ._width {
    width: 100%;
  }
  ._width_lg {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .no-image-found {
    position: relative;
    left: 40% !important;
    transform: translateX(-50%);
  }
  .searchBars {
    display: inline;
  }
  .autocompleteSearchbarContainer {
    padding: 0px 10px;
  }
  .autocompleteSearchbar {
    min-width: 360px;
  }
  .ant-select-dropdown {
    min-width: 320px !important;
    width: 320px !important;
  }
  .maplibregl-ctrl-top-right {
    top: 60px !important;
    right: 5px;
  }
  .imageFit {
    width: 300px !important;
  }
  .searchbarDetails {
    height: 250px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
  }
  .searchDetailsDiv {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}

@media screen and (max-width: 375px) {
  .no-image-found {
    position: relative;
    left: 33% !important;
    transform: translateX(-50%);
  }
  .autocompleteSearchbar {
    min-width: 300px;
  }
  .ant-select-dropdown {
    min-width: 260px !important;
    width: 260px !important;
  }
  .imageFit {
    width: 250px !important;
  }
}

@media screen and (max-width: 300px) {
  .no-image-found {
    position: relative;
    left: 50% !important;
    transform: translateX(-50%);
  }
  .autocompleteSearchbar {
    min-width: 280px;
  }
  .ant-select-dropdown {
    min-width: 280px !important;
    width: 280px !important;
  }
  .distanceSearchBar,
  .searchDetails {
    min-width: 280px;
  }
  ._width_lg {
    width: 280px;
  }
}

/* Animation */

.marker-animation {
  animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}

.wobble-hor-bottom {
  -webkit-animation: wobble-hor-bottom 1s both;
  animation: wobble-hor-bottom 1s both;
}
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
